<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaPresentacion.Properties.Settings.Proyecto_GradoConnectionString"
            connectionString="Data Source=DESKTOP-E0OV10B;Initial Catalog=Proyecto_Grado;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
